* {
   margin: 0px;
   padding: 0px;
}
/*CSS vem aqui em biaxo*/
body {
    font-family: 'Times New Roman', Times, serif;
}

body a {
    text-transform: uppercase;
    text-decoration: none;
    color:black;
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
    color:blue;
}

.icone {
    fill: #000507;
    stroke: #ffffff;
    stroke-width: 5px;
    width: 75px;
    height: 75px;
}

footer {
    background-color: #2457b4;
    color:#ffffff;
}

footer ul {
     display: flex;
     justify-content: space-around;
     list-style-type: none;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

/* CSS vem aqui em baixo*/

.modoEscuro {
    background-color:rgb(0, 89, 255);
}

.modoClaro  {
    background-color:rgb(59, 221, 221);
}








